[Unit]
Description=Salt Documentation Server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=cherryd -d -e production -c /etc/sphinxdocs.ini -p /var/run/sphinxdocs.pid /srv/salt/saltdocs/sphinxdocs.py

[Install]
WantedBy=multi-user.target
